<div class="relative" x-data="{ open: false }">
    <ul class="md:flex justify-between text-3xl md:text-4xl xl:text-6xl">
    {% for item in menu %}
        <li class="relative">
            {% if item.submenu | length > 0 %}
                <ul>
                {% for subitem in item.submenu %}
                    <li class="relative">{% include 'partials/_nav-item.twig' with { 'item': subitem } %}</li>
                {% endfor %}
                </ul>
            {% else %}
                {% include 'partials/_nav-item.twig' with { 'item': item } %}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    
</div>
