{% extends 'partials/_main.twig' %}

{% block body %}

<div>
    {% setcontent projects = 'project' where { category: 'Composition' } %}
    {% setcontent random_project = 'project' where { category: 'Composition' } random limit 1 %}
    {% include 'partials/_projects.twig' %}
</div>

{% endblock body %}