{% extends 'partials/_main.twig' %}


{% block header %}
    
    <h1 class="text-6xl md:text-8xl mb-24 xl:hidden font-medium">
        barblina meierhans
    </h1>

{% endblock header %}

{% block body %}

<div class="fixed top-0 left-0 w-screen h-screen bg-white flex flex-wrap content-center justify-around"
    x-show="intro" x-transition>
    <span class="text-9xl">barblina meierhans</span>
</div>

{% endblock body %}
