{% extends 'partials/_main.twig' %}

{% block header %}
<h1 class="lg:absolute lg:-top-2 lg:left-0 transform w-full mb-4 lg:mb-0 lg:text-center text-3xl md:text-5xl lg:text-8xl font-medium lg:translate-y-4">
    <a href="/"><span>barblina meierhans</span></a>
</h1>
{% endblock header %}

{% block body %}

<div class="fixed top-0 left-0 w-screen h-screen bg-white flex flex-wrap content-center justify-around"
    x-data="{ intro: true }" x-show="intro" x-transition x-init="setTimeout(() => { intro = false; }, 1000)">
    <span class="text-3xl md:text-5xl lg:text-8xl">barblina meierhans</span>
</div>

<div>
    {% if record.image is not empty %}
        <img class="w-full md:w-2/3 mx-auto" src="{{ record.image|thumbnail(1200) }}" alt="{{ record.image.alt|default(record|title) }}">
    {% endif %}
</div>

{% endblock body %}
