{% extends 'partials/_main.twig' %}

{% block body %}

<div class="xl:px-20">
    {% setcontent projects = 'project' where { category: 'Installation' } %}
    {% include 'partials/_projects.twig' %}
</div>

{% endblock body %}