{% extends 'partials/_main.twig' %}

{% block body %}

<div class="xl:px-20">
    {% setcontent news = 'news' latest limit 5 %}
    {% for news_entry in news %}
        <div class="w-full md:flex mb-8 md:mb-12 xl:mb-16">
            <div class="md:pr-5 xl:pr-16 md:w-1/2 mb-4">
                {% if loop.index % 2 %}
                    {% include 'partials/_page-content.twig' with {'page': news_entry} %}
                {% else %}
                    {% include 'partials/_page-image.twig' with {'page': news_entry} %}
                {% endif %}
            </div>
            <div class="md:pl-5 xl:pl-16 md:w-1/2">
                {% if loop.index % 2 %}
                    {% include 'partials/_page-image.twig' with {'page': news_entry} %}
                {% else %}
                    {% include 'partials/_page-content.twig' with {'page': news_entry} %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

{% endblock body %}