{% extends 'partials/_main.twig' %}

{% block body %}

<div class="md:flex xl:px-20">
    <div class="md:pr-5 xl:pr-16 md:w-1/2">
        {% include 'partials/_page-content.twig' with {'page': record} %}
    </div>
    <div class="md:pl-5 xl:pl-16 md:w-1/2">
        {% include 'partials/_page-image.twig' with {'page': record} %}
    </div>
</div>

{% endblock body %}