{% extends 'partials/_main.twig' %}

{% block body %}

<div class="md:flex">
    <div class="pr-2 md:pr-4 lg:pr-8 xl:pr-16 md:w-2/5">
        <div class="mb-10">
            {% set related_records = record|related %}
            {% if related_records is not empty and related_records|length > 1 %}
                {% for related in related_records %}
                    <a href="{{ related|link }}">
                        {% include 'partials/_sub-nav-item.twig' with { 'item': related } %}
                    </a>
                {%  endfor %}
            {% endif %}
        </div>
    </div>
    <div class="pl-2 md:pl-4 lg:pl-8 xl:pl-16 md:w-3/5">
        {% if record.image is not empty %}
        <div class="mb-10">
            {% include 'partials/_page-image.twig' with {'page': record} %}
        </div>
        {% endif %}
        {% include 'partials/_page-content.twig' with {'page': record} %}
    </div>
</div>

{% endblock body %}