{% extends 'partials/_main.twig' %}

{% block body %}

<div class="md:flex xl:px-20">
    <div class="md:pr-5 xl:pr-16 md:w-1/2">
        {% if record.title != '' %}
        <h2 class="text-3xl md:text-5xl xl:text-6xl">{{ record.title }}</h2>
        {% endif %}
        {% if record.body != '' %}
        <div class="text-base md:text-xl xl:text-3xl mb-5">
            {{ record.body }}
        </div>
        {% endif %}
    </div>
    <div class="md:pl-5 xl:pl-16 md:w-1/2">
        <img src="{{ record.image|thumbnail(1200) }}" alt="{{ record.image.alt|default(record|title) }}">
    </div>
</div>

{% endblock body %}