{% extends 'partials/_main.twig' %}

{% block body %}

<div class="md:flex">
    <div class="sm:pr-2 md:pr-4 lg:pr-8 xl:pr-16 md:w-2/5">
        <div class="md:mb-10 xl:mb-20" x-data="{ open: false }">
            {% setcontent projects = 'project' where { category: record.category } %}
            <ul>
            {% for project in projects %}
                <li :class="open ? 'block' : '{% if not project|current %}hidden md:block{% endif %}'">
                    <div class="block md:inline-block relative">
                        <a href="{{ project|link }}">
                            {% include 'partials/_sub-nav-item.twig' with { 'item': project } %}
                        </a>
                        {% if project|current %}
                            <button type="button"
                                class="absolute h-full right-0 top-0 px-3 text-white text-3xl transition-all cursor-pointer md:hidden"
                                :style="`transform: rotate(${open ? '0' : '45'}deg);`"
                                @click="open = ! open">
                                <img src="{{ asset('assets/img/cross.svg') }}" alt="Close Submenu">
                            </button>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="flex justify-between mb-10">
            {% if record.video is not empty %}
                <div>
                    <a class="w-1/2 inline pt-1 px-1 text-xl md:text-3xl xl:text-6xl mb-4 hover:bg-black hover:text-white" href="#video">Video</a>
                </div>
            {% endif %}
            {% if record.gallery is not empty %}
                <div>
                    <a class="w-1/2 inline pt-1 px-1 text-xl md:text-3xl xl:text-6xl mb-4 hover:bg-black hover:text-white" href="#gallery">Photo</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="sm:pl-2 md:pl-4 lg:pl-8 xl:pl-16 md:w-3/5">
        {% include 'partials/_page-content.twig' with {'page': record} %}
    </div>
</div>

{% endblock body %}