html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Basis Grotesque Pro';
    font-weight: 500;
    scroll-behavior: smooth;
}
h1 {
    font-weight: 700;
}
.text-base p {
    margin-bottom: 2rem;
}
.text-base ul {
    list-style-type: '–';
    margin-bottom: 2rem;
}
#video iframe {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after,
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: none;
}

.swiper-pagination-bullet-active {
    background: black;
}
.swiper-button-prev {
    left: -40px;
    top: 16px;
}
.swiper-button-next {
    right: -40px;
    top: 16px;
}
@media (max-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

/* contact */
#contact label {
    display: none;
}
#contact input, #contact textarea {
    border: 6px solid black;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px 15px;
}
#contact input:focus, #contact textarea:focus {
    outline: none;
}
#contact button[type="submit"] {
    padding: 10px 15px;
    background: black;
    color: white;
    float: right;
}